#blau {
	background-color: #244F75 ; 
	}

#verd {
	background-color: #60BFBF ; 
	}

#lila {
	background-color: #8C4B7E ;
	}

#groc {
	background-color: #F8BB44 ;
	}

#vermell {
	background-color: #F24B4B ;
	}